@use "/vue-web/src/views/landing/scss/_nullstyle";
// ======================== FONTS ===============================

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

// ======================== GENERAL =============================

body {
   font-family:'Inter';
   font-size: 15px;
   color: #262626;
}

a {
   color: #262626;
}

.blue {
   color: #4B9BD4;
}

.italic {
   font-style: italic;
}

.container {
   margin: 0 auto;
   padding: 0 25px 30px;
}

.subtitle {
   font-size: 18px;
   font-weight: 600;
   letter-spacing: -1px;
}

.title {
   font-size: 26px;
   font-weight: 800;
   line-height: 1.2;
   color: #3f3f3f;
}

// ========================= NAVIGATION ==============================

#nav-toggle {
   display: none;
}

.nav {
   padding: 95px 40px;
   background: #ffffff;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;

   transform: translateY(-100%);

   &__logo {
      display: none;
   }

   &__list {
      display: flex;
      flex-direction: column;
      gap: 35px;
   }

   &__item {
      font-size: 27px;
      font-weight: 900;
      line-height: 1.1;
      &::after {
         content: ">";
         margin-left: 10px;
      }
   }

   &__btn {
      display: none;
   }
}

.overlay {
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.5);

   opacity: 0;
   pointer-events: none;

   z-index: 9;
}

#nav-toggle:checked ~ .overlay {
   opacity: 1;
   pointer-events: all;
}

// ========================= HEADER ==============================

.header {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 0 25px 0;
   height: clamp(250px, 55vw, 670px);
   position: relative;

   &__img {
      background: url(../img/header/bg.jpg) center/cover no-repeat;
      position: absolute;
      inset: 0;
      z-index: -1;

      &::before {
         content: "";
         max-width: 100%;
         background: #011E38;
         opacity: 0.4;
         inset: 0;
         position: absolute;
      }
   }

   &__title {
      margin: 55px 90px 0 0;

      font-size: 30px;
      font-weight: 900;
      color: #ffffff;
      line-height: 1.2;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

      span {
         color: #41a7f0e0;
      }
   }

   &__text {
      display: none;
   }
}

.burger {
   margin: 55px 0 0 0;

   width: 45px;
   height: 40px;
   border-radius: 17px;
   background-color: #bdbdbd52;
   transition: background-color 0.5s;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;
   cursor: pointer;

   &__item {
      width: 25px;
      height: 4px;
      border-radius: 5px;
      background-color: #ffffff;
   }

   &:hover {
      background-color: #bdbdbd93;
      transition: background-color 0.5s;
   }
}

#nav-toggle:checked ~ .nav {
   transform: translateY(0);
}

@media (min-width: 650px) {
   .header {
      &__title {
         font-size: 45px;
         margin-right: 120px; 
      }
   }
   
   .burger {
      margin: 65px 0 0 0;
   }
}

@media (min-width: 768px) {
   .header {
      &__title {
         margin-bottom: -50px;
      }

      &__text {
         display: block;
         color: #ffffff;
         font-size: 17px;
         max-width: 530px;
         font-weight: 400;
         line-height: 1.2;
      }
   }
}

@media (min-width: 900px) {
   .header {
      &__title {
         margin: 80px 200px -150px 0;
      }

      &__text {
         margin: 0 0 0 -80px;
      }
   }
   
   .burger {
      margin: 90px 0 0 0;
   }
}

@media (min-width: 1024px) {
   .nav {
      display: flex;
      position: absolute;
      transform: translateY(0);
      margin: 40px 0 0 0;
      // gap: 100px;
      background: none;
      padding: 0 25%;
      width: 100%;

      &__logo {
         display: block;
         font-size: 22px;
         font-weight: 600;
         color: #F5F5F5;
         letter-spacing: -2px;
         text-shadow: 0 1px 1px #000;
      }

      &__list {
         flex-direction: row;
      }

      &__item {
         font-size: 20px;
         font-weight: 400;

         a {
            color: #F5F5F5;
         }

         &::after {
            content: "";
         }
      }

      &__btn {
         display: block;
      }
   }
   
   .header {
      flex-direction: column;
      align-items: center;

      &__title {
         font-size: 55px;
         margin: -60px 0 20px -300px;
      }

      &__text {
         margin: 0 0 0 -220px;
         line-height: 1.3;
      }
   }

   .burger {
      display: none;
   }
}

// ====================== CREATING =============================

.creating {

		&__subtitle {
         margin: 0 0 20px 0;
		}

		&__title {
         margin: 0 0 20px 0;
		}

		&__text {
         font-size: 15px;
         font-weight: 500;
         line-height: 1.2;

         margin: 0 0 20px 0;
         padding: 0 15px 0 0;
		}

		&__btn {
         font-size: 18px;
         font-weight: 600;
         letter-spacing: -1px;
         color: #ffffff;
         background-color: #4B9BD4;
         border-radius: 25px;
         padding: 12px 20px;
         margin: 0 0 20px 0;
         border: none;
         transition: background-color 0.3s ease;

         &:hover {
            background-color: #3a85b8;
         }
		}

      &__img {
         width: 100%;
         height: 470px;
         background-color: #D9D9D9;

         margin: 0 0 35px 0;
      }
}

// ========================= OFFER ==============================

.offer {

		&__subtitle {
         margin: 0 0 20px 0;
		}

		&__title {
         margin: 0 0 50px 0;
		}

		&__items {
         display: flex;
         flex-direction: column;
         gap: 30px;
		}

		&__card {
         width: 100%;

         &:nth-child(1) .card__name::before {
         background: url(../img/offer/icon1.svg) 0 0/contain no-repeat;
         }

         &:nth-child(2) .card__name::before {
         background: url(../img/offer/icon2.svg) 0 0/contain no-repeat;
         }

         &:nth-child(3) .card__name::before {
         background: url(../img/offer/icon3.svg) 0 0/contain no-repeat;
         }

         &:nth-child(4) .card__name::before {
         background: url(../img/offer/icon4.svg) 0 0/contain no-repeat;
         }
		}
}

.card {
   position: relative;

   &__stick {
      position: absolute;
      left: 28px;
      height: 25px;
      width: 1px;
      background-color: #4B9BD4;
   }

   &__name {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -1px;
      margin: 0 0 12px 10px;
      padding: 0 0 0 40px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         transform: translateY(-50%);
         height: 30px;
         width: 30px;
      }

   }

   &__text {
      max-width: 90%;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.2;
      margin: 0 0 12px 0;
   }
}